.book-banner {
    display: flex;
    width: 100%;
    height: 20rem;
    background-image: url("/src/images/banners/book-banner.png");
    position: relative;
    margin-top: 7rem;
  }
  @media (max-width: 750px) {
    .book-banner {
      height: -moz-fit-content;
      height: fit-content;
      padding: 1rem 0;
    }
  }
  .book-banner__overlay {
    background-color: #2d2d2d;
    opacity: 0.89;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
  }
  
  .text-content {
    color: white;
    z-index: 5;
    position: relative;
    width: 100%;
    height: 20rem;
    display: flex;
    align-items: center;
    gap: 5rem;
  }
  @media (max-width: 750px) {
    .text-content {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      text-align: center;
    }
  }
  .text-content h2 {
    font-size: 3.2rem;
  }
  .text-content span {
    display: flex;
    font-size: 2.7rem;
    gap: 1rem;
    align-items: center;
    color: #ff4d30;
    white-space: nowrap;
  }
  